{% package main %}
{% import "strconv" %}

{% templ rPerson(i int, p Person) %}
<a href={%= "person/" + strconv.Itoa(i) %}>{%= "Select " + p.Name %}</a>
{% endtempl %}

{% templ renderPeople(pe []Person) %}
<!DOCTYPE html>
<html>
  <head>
    <script src="scripts/turbo/turbo.es5-umd.js"></script>
  </head>
  <body>
    <turbo-frame id="people">
	{% for i, p := range pe %}
			{% call rPerson(i, p) %}
	{% endfor %}
    </turbo-frame>
  </body>
</html>
{% endtempl %}


