{% package main %}

{% templ renderPerson(p Person) %}
<html>
  <head>
    <script src="scripts/turbo/turbo.es5-umd.js"></script>
  </head>
  <body>
    <turbo-frame id="people">
      <div>{%= p.Name %}</div>
    </turbo-frame>
  </body>
</html>
{% endtempl %}


